<h1>Sign in</h1>
<%= form_with model: @user, url: sign_in_path(return_url: @return_url) do | form | %>
    <div class="mb-3">
        <%= form.label :key %>
        <%= form.text_field :key, class: "form-control", placeholder: "12 Alphanumeric key" %>
    </div>
    <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "password" %>
    </div>
    <%= form.hidden_field :return_url, value: params[:return_url], name: "return_url" %>

    <div class="mb-3">
        <%= form.submit "Sign in", class: "btn btn-primary" %>
    </div>
<% end %>