<h1>Sign up</h1>
<%= form_with model: @user,url: sign_up_path(return_url: @return_url) do |form| %>
    <% if @user.errors.size > 0 %>
        <div class="alert alert-danger">
            <% @user.errors.full_messages.each do | message | %>
                <div><%= message %></div>  
            <% end %>
        </div>
    <% end %>
    <div class="mb-3">
        <%= form.label :key %>
        <%= form.text_field :key, class: "form-control", placeholder: "12 Alphanumeric key" %>
    </div>
    <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "password" %>
    </div>
    <div class="mb-3">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password"  %>
    </div>

    <%= form.hidden_field :return_url, value: params[:return_url], name: "return_url" %>

    <div class="mb-3">
        <%= form.submit "Sign up", class: "btn btn-primary" %>
    </div>
<% end %>